@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --light-blue: rgba(151, 207, 232,1);
    --blue-green: rgba(33, 158, 188,1);
    --cerulean: rgba(18, 103, 130,1);
    --dark-blue: rgba(2, 48, 71, 1);
    --yellow: rgba(255, 183, 3, 1);
    --orange: rgba(251, 137, 9,1);

    --neutral-1: rgba(255,255,255,1);
    --neutral-2: rgba(0,0,0,1);

    --ff-main: "Hind", sans-serif;
    --ff-header: "Montserrat", sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--ff-main);
}

body {
    color: var(--sky-blue);
    background-color: var(--prussian-blue);
    font-family: var(--ff-header);
    font-weight: 700;
}

section {
    height: 100vh;
    width: 100%;
}

header {
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2em;
    padding-inline: 5em;
}

.logo {
    color: var(--neutral-1);
    font-size: 3rem;
    line-height: 1;
}

.accent {
    font-size: inherit;
    color: var(--orange);
    font-weight: 700;
}

.nav-list ul li{
    display: inline-block;
    margin-left: 2rem;
}

.nav-list ul li a {
    color: var(--neutral-1);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--ff-header);
    transition: 0.2s;

}

.nav-list ul li a:hover {
    color: var(--yellow);
}

.nav-list .active {
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
    transition: 0.2s;
}
.nav-list .active:hover {
    color: var(--orange);
    border-bottom: var(--orange) solid 2px;
}

.nav-list .nav-contact {
    background-color: var(--yellow);
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
    color: var(--dark-blue);
}

.nav-list .nav-contact:hover {
    background-color: var(--orange);
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
    color: var(--neutral-1);
}

.hero {
    position: relative;
    display: flex;
    background-image: url(/assets/bg-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.hero::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgb(1, 34, 69) 40%, rgba(0,0,0,0) 60%);
    opacity: 0.4;
    z-index: 2;
}

.hero-content {
    padding:5em;
    width: 45%;
    margin-block: auto;
    z-index: 3;
}

.main-header {
    font-family: var(--ff-header);
    font-size: 4.5rem;
    color: var(--neutral-1);
    font-weight: 700;
}

.description {
    color: var(--dark-blue);
    width: 80%;
    font-size: 1rem;
    font-family: var(--ff-header);
    line-height: 1.5;
    margin-bottom: 2em;
    font-weight: 400;
    text-align: center;
    margin-inline: auto;
}

.hero-content > .description {
    color: var(--yellow);
    font-size: 1.3rem;
    text-align: start;
}

.accent-header {
    font-size: 4.5rem;
    font-family: var(--ff-header);
    color: var(--yellow);
}

.button {
    position: relative;
    padding: 1em 4em;
    border-radius: 2em;
    border: none;
    font-family: var(--ff-header);
    font-weight: 800;
    background-color: var(--yellow);
    color: var(--dark-blue);
    letter-spacing: 0.05em;
    transition: 0.2s;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0.2rem 0.4rem var(--neutral-2);
    transition: 0.5s;
}

.button:hover {
    background-color: var(--orange);
    cursor: pointer;
    translate: -0.3rem -0.3rem;
    box-shadow: 1rem 1rem var(--neutral-2);
    
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.about-section {
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.about-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 400%;
    background: url(./assets/memphis.jpg) 0 0 repeat;
    transform: rotate(45deg);
    background-position: center;
    z-index: -3;
}

.about-section::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    top: 0;
    left: 0;
    z-index:-2;
}


.about{
    width: 70%;
    height: 100vh;
}

.about img {
    width: 10em;
    height: auto;
    margin-bottom: 2em;
}
.sub-heading {
    font-family: var(--ff-main);
    font-size: 1.3rem;
    color: var(--dark-blue);
    margin-bottom: 0.7em;
}

.about .content .main-header {
    color: var(--dark-blue);
    font-family: var(--ff-header);
    font-size: 4rem;
    margin-bottom: 1em;
    font-weight: 900;
    letter-spacing: 0.2rem;
}

.about [class="accent"] {
    font-size: 4.5rem;
    font-weight: 900;
}

.about p {
    font-size: 1.3rem;
}

.jurusan {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.otkp {
    grid: 1/2;
}